@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #projectForm {
    @apply h-full flex flex-col;
    label {
      @apply block font-bold mb-1;
    }
    input {
      @apply w-full rounded-md text-black h-8 px-2;
    }
    input:not(:last-child) {
      @apply mb-3;
    }
    input:focus {
      @apply outline-none ring-2 ring-slate-600 ring-offset-2 ring-offset-slate-300;
    }
    textarea {
      @apply resize-none w-full flex-1 text-black rounded-md p-2 mb-3;
    }
    input[type="submit"] {
      @apply bg-slate-400 hover:bg-slate-500 font-bold;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
}

h1 {
  font-size: 2rem;
}
