@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background1: 221deg 86% 92%;
    --background2: 222deg 81% 96%;
    --dark: 205 223 255;
    --medium: 222deg 100% 70%;
    --text: 0deg 0% 0%;
    --text2: 0deg 0% 15%;
    --alert: 358deg 100% 27%;
    --opposite: 0 0 0;
    --gradient: linear-gradient(
      90deg,
      rgb(216, 226, 251) 0%,
      rgb(227, 234, 252) 100%
    );
  }

  [class="dark"] {
    --background1: 225deg 59% 11%;
    --background2: 225deg 40% 18%;
    --dark: 2 6 23;
    --medium: 213deg 30% 32%;
    --text: 213deg 51% 72%;
    --text2: 213deg 51% 88%;
    --alert: 358deg 100% 67%;
    --opposite: 255 255 255;
    --gradient: linear-gradient(
      90deg,
      hsla(225, 59%, 8%, 1) 0%,
      hsla(226, 58%, 12%, 1) 100%
    );
  }

  body {
    @apply bg-gradient text-text;
  }

  h1,
  h2 {
    @apply font-bold text-3xl max-md:text-2xl;
  }

  h2,
  h3 {
    @apply text-text2;
  }

  h3 {
    @apply font-semibold text-2xl max-md:text-xl text-text2;
  }

  p {
    @apply text-lg md:text-xl text-text;
  }

  svg {
    @apply fill-opposite
  }

  #projectForm {
    @apply h-full flex flex-col gap-4 text-text;

    input:not([type="file"]) {
      @apply w-full rounded-md h-8 p-2 bg-background2 outline-slate-100;
    }   
  }
}

@layer components {
  .btn-social {
    @apply rounded-md py-2 px-3 border-2 w-2/3 m-auto font-bold text-slate-50 text-lg text-center hover:scale-105 transition-transform;
  }

  .btn-link {
    @apply rounded-md py-2 px-3 font-medium bg-background1 border-2 border-medium hover:bg-alert/30 w-max;
  }

  .ct-flex-col {
    @apply flex flex-col gap-4 justify-center;
  }

  .ct-flex-row {
    @apply flex flex-row gap-4 items-center;
  }

  .section {
    @apply border border-medium rounded-3xl p-4;
  }

  .no-scrollbar:-moz-scrollbar {
    display: none;
  }
}

@layer utilities {
  .tiktok-style {
    background: linear-gradient(black, black) padding-box,
      linear-gradient(to right, #b8b8b8, #de8c9d, #fe2858, #2af0ea, #397684)
        border-box;
    border-color: transparent;
  }

  .instagram-style {
    background: linear-gradient(
        to right,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
      )
      border-box;
    border-color: transparent;
  }

  .youtube-style {
    background: #ff0000 border-box;
    border-color: transparent;
  }
}

body {
  min-height: 100vh;
}

main {
  margin: auto;
  max-width: 1200px;
}

h1,
h2,
h3,
p {
  text-wrap: pretty;
}

code {
  background-color: black;
  color: white;
  padding: 1rem;
  display: block;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: row;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .custom-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
